<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Balamurugan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1 style="text-align: center;font: italic bold 35px/35px Georgia, serif;">Update Details</h1><br><hr>
    <div style="text-align: center;padding: 30px;">
        <form action="/adminadd" method="post">
           
            <input type="hidden" name="date" value="<%=date%>"><br><br>
            <label style="text-align: center;font: italic bold 20px/30px Georgia, serif;">Enter PoojaDetail</label>
            <input class="form-control form-control-lg" type="text" placeholder="Enter Pooja Details" name="detail"><br><br>
            
            <label style="text-align: center;font: italic bold 20px/30px Georgia, serif;">Enter status</label>

              <select class="form-control form-control-lg" name="status" id="status">
                <option value="Available">Available</option>
                <option value="booked">Not Available</option>
              </select><br><br>
              
             
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
   
    
</body>
</html>